.chart .bar-28 { height: 28%; }
.chart .bar-37 { height: 37%; }
.chart .bar-43 { height: 43%; }
.chart .bar-54 { height: 54%; }
.chart .bar-62 { height: 62%; }
.chart .bar-72 { height: 72%; }
.chart .bar-82 { height: 82%; }
